/src/Pixsys.Library.Cache.CacheManager/.build/CakeRelease/Semantic/
/src/Pixsys.Library.Cache.CacheManager/.vs/
/src/Pixsys.Library.Cache.CacheManager/Pixsys.Library.Cache.CacheManager/bin
/src/Pixsys.Library.Cache.CacheManager/Pixsys.Library.Cache.CacheManager/obj/
/src/Pixsys.Library.Cache.CacheManager/.build/CakeRelease/
/src/Pixsys.Library.Cache.CacheManager/.config/CakeRelease.settings.json
